@use '../custom' as *;

#offer{
    height: 100px;
    background: $my_gradient;
    color: #fff;
}  
.offer{
    h4{
        color: $primary;
    }
    p{
        font-size: 0.8rem;
    }
    ul{
        li{
            list-style-type: none;
            i{
                color: $primary;
                font-size: 0.8rem;
                margin-right: 10px;
            }
        }
      }
}
